Repository prototypefund/iconet-Foundation-funkwhale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: review_docs, lint_front, test_api, build_docs

Path conditions:
  review_docs: any of: docs/**/*
  lint_front: any of: front/**/*
  test_api: any of: api/**/*
  build_docs: any of: docs/**/*

ci: rework lint_front job
  .gitlab-ci.yml
Due: none

ci: rework review_docs job
  .gitlab-ci.yml
Due: none

ci: rework test_api job
  .gitlab-ci.yml
  api/pyproject.toml
Due: test_api

ci: rework build_api_schema job
  .gitlab-ci.yml
Due: none

ci: rework build_api job
  .gitlab-ci.yml
Due: none

ci: uncomment and rework test_front job
  .gitlab-ci.yml
Due: none

ci: rework deploy_docs job
  .gitlab-ci.yml
Due: none

ci: rework build_front job
  .gitlab-ci.yml
Due: none

ci: rework build_docs job
  .gitlab-ci.yml
Due: none

ci: use shared ci docker image for docker jobs
  .gitlab-ci.yml
Due: none

ci: aggressive caching for api related jobs
  .gitlab-ci.yml
Due: none

ci: aggressive caching for front related jobs
  .gitlab-ci.yml
Due: none

ci: jobs are interruptible by default
  .gitlab-ci.yml
Due: none

ci: aggressive caching for docs related jobs
  .gitlab-ci.yml
Due: none

ci: explicit dependencies between jobs
  .gitlab-ci.yml
Due: none

chore: add changelog snippet
  changes/changelog.d/ci-rework.misc
Due: none

chore: ci containers use curl instead of wget
  docs/build_swagger.sh
Due: review_docs, build_docs

ci: run build_api_schema when build_docs runs
  .gitlab-ci.yml
Due: none

ci: only lint api on api files changes
  .gitlab-ci.yml
Due: none

ci: move docker jobs to build stage
  .gitlab-ci.yml
Due: none

ci: prefer needs to dependencies
  .gitlab-ci.yml
Due: none

ci: install funkwhale_api package for docs building
  .gitlab-ci.yml
Due: none

chore: sort docs dependencies
  docs/poetry.lock
  docs/pyproject.toml
Due: review_docs, build_docs

chore(api): maintain api version using poetry
  changes/changelog.d/maintain-api-version-using-poetry.enhancement
  docs/developer_documentation/workflows/release.md
  scripts/set-api-build-metadata.sh
Due: review_docs, build_docs

feat(api): find version using importlib.metadata
  api/funkwhale_api/__init__.py
  api/tests/test_init.py
  changes/changelog.d/get-api-version-from-package.enhancement
Due: test_api

docs: replace id3.org broken link
  docs/user_documentation/libraries/tag_music.md
Due: review_docs, build_docs

docs: remove language prefix from Wikipedia link
  docs/user_documentation/libraries/tag_music.md
Due: review_docs, build_docs

chore(front): add bundle visualizer
  front/.gitignore
  front/package.json
  front/vite.config.ts
  front/yarn.lock
Due: lint_front

feat(front): split large bundles into chunks
  changes/changelog.d/front-split-large-bundles.enhancement
  front/src/App.vue
  front/src/components/Queue.vue
  front/src/main.ts
  front/src/style/globals/_utils.scss
  front/vite.config.ts
Due: lint_front

ci: don't clone where unneeded
  .gitlab-ci.yml
Due: none

ci: fix missing image tag in docker job
  .gitlab-ci.yml
Due: none

ci: fix new api dev build meta script
  .gitlab-ci.yml
  scripts/set-api-build-metadata.sh
Due: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/moderator_documentation/content/index.po
Due: review_docs, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/administrator_documentation/configuration_docs/instance_settings.po
Due: review_docs, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/user_documentation/queue/index.po
Due: review_docs, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/administrator_documentation/uninstall_docs/index.po
Due: review_docs, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/user_documentation/favorites/index.po
Due: review_docs, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/moderator_documentation/index.po
Due: review_docs, build_docs

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/changelog.po
Due: review_docs, build_docs

fix: allow blank summary field of actors
  api/funkwhale_api/federation/serializers.py
Due: test_api
